<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035872171391-stc7lloi43a17n8rv8eapqa4hg3i9mas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035872171391-stc7lloi43a17n8rv8eapqa4hg3i9mas</string>
	<key>API_KEY</key>
	<string>AIzaSyBn_p-Yk-SiTCP4KJG_6TF2pX_mN7z5qU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1035872171391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wewehao.flutterChatgptMatrix</string>
	<key>PROJECT_ID</key>
	<string>matrixgpt-chat-to-invest</string>
	<key>STORAGE_BUCKET</key>
	<string>matrixgpt-chat-to-invest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035872171391:ios:49345667ce590f9155164a</string>
</dict>
</plist>